.hover{
    border: none;
    }
    .hover:hover{
        border: 2px grey solid;
    }
    .addcartbtn{
        transform: translateY(100px);
        transition: all 0.5s;
    }
    .hover:hover .addcartbtn{
        transform: translateY(0px);
    }